@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <a href="#" title="Popover" data-poload="@Url.Action("Popover", "Home")">
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p></p>
    </a>

</div>
@section scripts{
    <script type="text/javascript">
        $('*[data-poload]').hover(function () {
            var e = $(this);
            e.off('hover');
            $.get(e.data('poload'), function (d) {
                e.popover({
                    content: d,
                    html: true,
                    container: 'body'
                }).popover('show');
            });
        });

        $('body').on('click', function (e) {
            //only buttons
            if ($(e.target).data('toggle') !== 'popover'
                && $(e.target).parents('.popover.in').length === 0) {
                $('*[data-poload]').popover('hide');
            }
        });
    </script>
}